apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: workloads-appset-generator
  namespace: argocd
spec:
  goTemplate: true
  generators:
  - list:
      elements:
      - team: team1
        repoURL: https://github.com/rmkprabhu/gitops-bridge-workloads-demo
        targetRevision: main
        path: gitops-bridge-workloads-demo
        namespace: team1-workloads
        valuesFile: values.yaml
      # Add more teams here as needed
      - team: team2
        repoURL: https://github.com/argoproj/argocd-example-apps
        targetRevision: master
        path: helm-guestbook
        namespace: team2-workloads
        valuesFile: values.yaml
  template:
    metadata:
      name: '{{ .team }}-workload'
      labels:
        team: '{{ .team }}'
    spec:
      project: default
      source:
        repoURL: '{{ .repoURL }}'
        targetRevision: '{{ .targetRevision }}'
        path: '{{ .path }}'
        helm:
          releaseName: '{{ .team }}-app'
          valueFiles:
          - '{{ .valuesFile }}'
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{ .namespace }}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
        - CreateNamespace=true
